*{
    font-family: 'Source Code Pro', monospace;
    background-color: #2b2b2b;
}


p.message{
    text-align: center;
    font-size: 12pt;
    color: #fffdfd;
}

h1{
    color: white;
    text-align: center;
    font-size: 2.5pc;
    text-decoration: underline;
}

a{
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: #fffdfd;
    border: 3px solid;
    text-align: center;
}

#colum1{
    border: 3px solid purple;
    border-radius: 10px;
    padding-bottom: 30px;
}

#colum2{
    border: 3px solid purple;
    border-radius: 10px;
    padding-bottom: 30px;
}

div#box{
    border-radius: 10px;
    background-color: rgb(255, 0, 255);
    max-width: none;
    min-width: none;
    max-height: 50px;
    width: auto;
    height: 50px;
}

div#box-1{
    border: black 6px;
    border-top-style: solid;
    border-left-style: dashed;
    border-bottom-style: dotted;
    border-right-style: double;
    border-radius: 10px;
    background-color: red;
    width: 150px;
    height: 150px;
}

div#box-2{
    border: black solid 6px;
    /** border-top-left-radius: 50px;
    border-bottom-right-radius: 50px; **/
    border-radius: 50px 5px;
    background-color: rgb(252, 100, 100);
    width: 150px;
    height: 150px;
}

div#box-3{
    border: black solid 6px;
    border-radius: 10px;
    background-color: rgb(252, 200, 200);
    width: 150px;
    height: 150px;
}

div#box-4{
    border: black solid 6px;
    border-radius: 10px;
    border-right-color: #ff0000;
    border-top-color: blue;
    border-left-color: green;
    background-color: rgb(252, 300, 300);
    width: 150px;
    height: 150px;
}

.rainbow-box {
    width: 200px;
    height: 200px;
    background: linear-gradient(45deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #8b00ff, #ff00ff);
    background-size: 500% 500%;
    animation: rainbow-animation 5s linear infinite;
}

@keyframes rainbow-animation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}