body{
    background: grey;
    color: white;
    text-align: center;
}   

li{
    display: inline-block;
}

li a{
    padding-right: 20px;
}

a:link{
    text-decoration: none;
}
.box{
    width: 30%;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    margin: 7px;
    background-color: rgb(39, 39, 39);
}

img{
    width: 750px;
}

#image-1{
    visibility: visible;
}

#image-2{
    height: 655.75px;
}

h1{
    display: none;
}


/** smart phone **/
@media (max-width:500px)