*{
    background: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    color:  rgb(173, 0, 173);
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 2rem;
    padding-top: 22rem;
}

header h1{
    font-size: 3rem;
}

p{
    margin: 1rem 0;
}

.Teleport{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(173, 0, 173);
    color: black;
    padding: 0.75rem 2rem;
    border-radius: 5px;
}

.container{
    display: flex;
}

#box-1{
    width: 300px;
    height: 300px;
    background-color: rgb(173, 0, 173);
    margin-left: 145px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#box-2{
    width: 300px;
    height: 300px;
    background-color: rgb(173, 0, 173);
    margin-left: 145px;
    margin-bottom: 500px;
    margin-top: 50px;
}

#box-3{
    width: 300px;
    height: 300px;
    background-color: rgb(173, 0, 173);
    margin-left: 145px;
    margin-bottom: 500px;
    margin-top: 50px;
}

#box-4{
    width: 300px;
    height: 300px;
    background-color: rgb(173, 0, 173);
    margin-left: 145px;
    margin-bottom: 500px;
    margin-top: 50px;
}
