*{
    background: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    color:  rgb(173, 0, 173);
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 2rem;
    padding-top: 22rem;
}

header h1{
    font-size: 3rem;
}

p{
    margin: 1rem 0;
}

.Teleport{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(173, 0, 173);
    color: black;
    padding: 0.75rem 2rem;
    border-radius: 5px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    background-color: black;
    justify-content: space-around;
}

.item{
    color: white;
    background: rgb(173, 0, 173);
    border: 3px solid rgb(173, 0, 173);
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center; 
    /* flex: 1; */
}

.item-2{
    /* flex-shrink: 2; */
}

.item-1{
    /* flex-basis: 300px; */
}

.item-3{
    /* flex-grow: 2; */
}
